APP_ENV=production
MACHINE_NAME=Bodor1 (12K)
PRODUCTION_BASE_PATH=V:\8. CONTROLE DE PRODUÇÃO
APP_SHARED_STORE_PATH=V:\8. CONTROLE DE PRODUÇÃO\3. DADOS\.plan_slice
LOCK_TIMEOUT_SECONDS=14400
STORE_LOCK_STALE_SECONDS=30
